<div class="column is-one-fifth">
  <div class="card customer">
    <div class="card-content">
      <p class="title is-4"><strong>Name: </strong><%= link_to product.designation, product %></p>
      <p><%= link_to image_tag(product.image, height: '200', width:'100'), product %></p>
      </br>
    </div>
  </div>
</div>
