<section class="section">
  <h1 class="title">Welcome to JD International Collection of Wine</h1>
  <h2 class="subtitle">Products availible</h2>
</section>
<div class="columns is-multiline">
  <%= render partial: "product/product", collection: @products %>
</div>

<%= paginate @products, window: 2 %>
<p class="subtitle is-6"><%= link_to "Home", root_path %></p>